<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.isfaaghyth.moviedb">

    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="app.isfaaghyth.moviedb.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="app.isfaaghyth.moviedb.WRITE_DATABASE" android:protectionLevel="normal"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.detailmovie.DetailMovieActivity"/>

        <activity
            android:name=".ui.searchmovie.SearchActivity"/>

        <activity
            android:name=".ui.favorite.FavoriteActivity"/>

        <provider
            android:authorities="app.isfaaghyth.moviedb"
            android:name=".data.local.FavoriteProvider"
            android:exported="true"
            android:readPermission="app.isfaaghyth.moviedb.READ_DATABASE"
            android:writePermission="app.isfaaghyth.moviedb.WRITE_DATABASE"/>

    </application>

</manifest>